<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.LokeshwarJakhar"
        tools:targetApi="31">
        <activity
            android:name=".splash"
            android:exported="true"
            android:theme="@style/SplashTheme">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity
            android:name=".Complete"
            android:exported="false"
            android:theme="@style/noaction"/>
        <activity
            android:name=".workcerti"
            android:exported="false"
            android:theme="@style/noaction"/>
        <activity
            android:name=".hobbies"
            android:exported="false"
            android:theme="@style/noaction"/>
        <activity
            android:name=".Extra"
            android:exported="false"
            android:theme="@style/noaction"/>
        <activity
            android:name=".Workshops"
            android:exported="false"
            android:theme="@style/noaction"/>
        <activity
            android:name=".interncerti"
            android:exported="false"
            android:theme="@style/noaction"/>
        <activity
            android:name=".Achivements"
            android:exported="false"
            android:theme="@style/noaction"/>
        <activity
            android:name=".Internship"
            android:exported="false"
            android:theme="@style/noaction"/>
        <activity
            android:name=".Skills"
            android:exported="false"
            android:theme="@style/noaction"/>
        <activity
            android:name=".Education"
            android:exported="false"
            android:theme="@style/noaction"/>
        <activity
            android:name=".Introduction"
            android:exported="false"
            android:theme="@style/noaction"/>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/noaction">
        </activity>

        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
    </application>
</manifest>